<div class="container">
    <div align="center" style="margin-top:10rem;">
        <h1>팀플 장소 구하기</h1>
        <h1>(웹 서비스 제목)</h1>
    </div>
    <div align="center" style="margin-top:10rem;">
        <a href="/users/sign_in"><button type="button" class="btn btn-default">Login <p>학생</p></button></a>
        <a href="/owners/sign_in"><button type="button" class="btn btn-default">Login <p>카페</p></button></a>
    </div>
</div>