/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
* {
  margin: 0;
  -moz-user-select: none;
  /* These user-select properties are inheritable, used to prevent text selection */
  -webkit-user-select: none;
  -ms-user-select: none;
  /* From IE10 only */
  user-select: none;
  /* Not valid CSS yet, as of July 2012 */
  -webkit-user-drag: none;
  /* Prevents dragging of images/divs etc */
  user-drag: none; }

html, body {
  font-family: 'Bariol', 'Nanum Gothic', sans-serif !important;
  background: -webkit-linear-gradient(20deg, #104a72, #5dd19c 75%, #fffae8);
  background: -moz-linear-gradient(20deg, #104a72, #5dd19c 75%, #fffae8);
  background: -o-linear-gradient(20deg, #104a72, #5dd19c 75%, #fffae8);
  background: linear-gradient(20deg, #104a72, #5dd19c 75%, #fffae8); }

::-webkit-scrollbar {
  width: 12px; }

::-webkit-scrollbar-track {
  background-color: #eaeaea;
  border-left: 1px solid #ccc; }

::-webkit-scrollbar-thumb {
  background-color: #ccc; }

ul {
  list-style-type: none; }

.white-text {
  color: white; }

.page-wrapper {
  min-height: 100%;
  /* equal to footer height */
  margin-bottom: -315px; }

.page-wrapper:after {
  content: "";
  display: block; }

footer, .page-wrapper:after {
  height: 280px; }

main, nav {
  margin: 10px; }

main {
  padding: 10px;
  border-radius: 4px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
  background-color: white; }

.login {
  max-width: 600px;
  color: #34495E; }

.login h2 {
  text-align: center; }

.valign-wrapper .valign {
  display: block; }

.valign-wrapper {
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  -webkit-box-pack: center;
  -webkit-box-align: center;
  display: -moz-box;
  -moz-box-orient: horizontal;
  -moz-box-pack: center;
  -moz-box-align: center;
  display: box;
  box-orient: horizontal;
  box-pack: center;
  box-align: center; }

textarea {
  resize: none; }

.tip {
  padding: 12px 12px;
  color: #ffffff;
  background-color: #34495e;
  border-radius: 6px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5); }

.tagsinput {
  background: white;
  border: 2px solid #1abc9c;
  border-radius: 6px;
  height: 100px;
  margin-bottom: 18px;
  padding: 6px 1px 1px 6px;
  overflow-y: auto;
  text-align: left; }

.tagsinput .tag {
  border-radius: 4px;
  background-color: #1abc9c;
  color: #ffffff;
  cursor: pointer;
  margin-right: 5px;
  margin-bottom: 5px;
  overflow: hidden;
  line-height: 15px;
  padding: 6px 13px 8px 19px;
  position: relative;
  vertical-align: middle;
  display: inline-block;
  zoom: 1;
  -webkit-transition: 0.14s linear;
  -moz-transition: 0.14s linear;
  -o-transition: 0.14s linear;
  transition: 0.14s linear;
  -webkit-backface-visibility: hidden; }

.tagsinput .tag:hover {
  background-color: #16a085;
  color: #ffffff; }

div.pagination {
  display: inline-block;
  padding: 0;
  margin: 0;
  background-color: #4CAF50; }

div.pagination a, div.pagination em, div.pagination span {
  color: white;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  border: 1px solid white; }

div.pagination em {
  background-color: skyblue; }

.cd-dropdown > span,
.cd-dropdown ul li:nth-last-child(-n+3) span {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1); }

.cd-dropdown ul {
  position: absolute;
  top: -60px;
  width: 100%; }

.cd-dropdown ul li {
  position: absolute;
  width: 100%; }

.cd-active.cd-dropdown > span {
  color: #fc756f; }

.cd-active.cd-dropdown > span,
.cd-active.cd-dropdown ul li span {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1); }

.cd-active.cd-dropdown ul li span {
  -webkit-transition: all 0.2s linear 0s;
  -moz-transition: all 0.2s linear 0s;
  -ms-transition: all 0.2s linear 0s;
  -o-transition: all 0.2s linear 0s;
  transition: all 0.2s linear 0s; }

.cd-active.cd-dropdown ul li span:hover {
  background: #fc756f;
  color: #fff; }

.cd-dropdown,
.cd-select {
  position: relative;
  width: 300px;
  /*margin: 20px auto;*/
  display: block; }

.cd-dropdown > span {
  width: 100%;
  height: 60px;
  line-height: 60px;
  color: #999;
  font-weight: 700;
  font-size: 16px;
  background: #fff;
  display: block;
  padding: 0 50px 0 30px;
  position: relative;
  cursor: pointer; }

.cd-dropdown > span:after {
  content: '\25BC';
  position: absolute;
  right: 0px;
  top: 15%;
  width: 50px;
  text-align: center;
  font-size: 12px;
  padding: 10px;
  height: 70%;
  line-height: 24px;
  border-left: 1px solid #ddd; }

.cd-dropdown.cd-active > span:after {
  content: '\25B2'; }

.cd-dropdown ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: block;
  position: relative; }

.cd-dropdown ul li {
  display: block; }

.cd-dropdown ul li span {
  width: 100%;
  background: #fff;
  line-height: 60px;
  padding: 0 30px 0 75px;
  display: block;
  color: #bcbcbc;
  cursor: pointer;
  font-weight: 700; }

.cd-dropdown > span,
.cd-dropdown ul li span {
  -webkit-backface-visibility: hidden;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.cd-dropdown > span span[class^="icon-"],
.cd-dropdown > span span[class*=" icon-"] {
  padding: 0 30px 0 45px; }

/* Select fallback styling */
.cd-select {
  border: 1px solid #ddd; }

.groupTitle, .groupContent, .placeTitle, .placeContent {
  white-space: nowrap;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis; }

table {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5); }

table, tr, td {
  border: 1px solid white;
  text-align: center; }

thead tr th {
  text-align: center; }

.timetable thead tr th:first-child, .timetable thead tr th:last-child {
  width: 200px; }

td.time {
  width: 100px; }

table tr:nth-child(2n) {
  background: #eff0f1; }

table tr:nth-child(2n+3) {
  background: #fff; }

table.timetable th, table.timetable td {
  padding: 0.05em;
  width: 10em; }

td.step {
  background: orange;
  color: white; }

th {
  background: #34495e;
  color: white; }

thead tr.header-days {
  background-color: navy;
  color: white; }

main:not(.session):not(.notice):not(.already):not(.alert) {
  min-height: 600px; }

#selectedTime, #selectedDate {
  font-size: 2em; }

#selectedGroup {
  font-size: 1.5em; }

.resvTile {
  padding: 12px 12px;
  color: #ffffff;
  background-color: red;
  font-weight: 700;
  font-size: 2em;
  border-radius: 6px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5); }

/* Loading */
/* Absolute Center Spinner */
.loading {
  position: fixed;
  z-index: 100000000;
  height: 2em;
  width: 2em;
  overflow: show;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0; }

/* Transparent Overlay */
.loading:before {
  content: '';
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(20deg, rgba(111, 227, 231, 0.8), rgba(79, 184, 217, 0.8), rgba(86, 72, 193, 0.8)); }

/* :not(:required) hides these rules from IE9 and below */
.loading:not(:required) {
  /*hide "loading..." text */
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0; }

.loading:not(:required):after {
  content: '';
  display: block;
  font-size: 10px;
  width: 1em;
  height: 1em;
  margin-top: -0.5em;
  -webkit-animation: spinner 1500ms infinite linear;
  -moz-animation: spinner 1500ms infinite linear;
  -ms-animation: spinner 1500ms infinite linear;
  -o-animation: spinner 1500ms infinite linear;
  animation: spinner 1500ms infinite linear;
  border-radius: 0.5em;
  -webkit-box-shadow: rgba(255, 255, 255, 0.75) 1.5em 0 0 0, rgba(255, 255, 255, 0.75) 1.1em 1.1em 0 0, rgba(255, 255, 255, 0.75) 0 1.5em 0 0, rgba(255, 255, 255, 0.75) -1.1em 1.1em 0 0, rgba(255, 255, 255, 0.5) -1.5em 0 0 0, rgba(255, 255, 255, 0.5) -1.1em -1.1em 0 0, rgba(255, 255, 255, 0.75) 0 -1.5em 0 0, rgba(255, 255, 255, 0.75) 1.1em -1.1em 0 0;
  box-shadow: rgba(255, 255, 255, 0.75) 1.5em 0 0 0, rgba(255, 255, 255, 0.75) 1.1em 1.1em 0 0, rgba(255, 255, 255, 0.75) 0 1.5em 0 0, rgba(255, 255, 255, 0.75) -1.1em 1.1em 0 0, rgba(255, 255, 255, 0.75) -1.5em 0 0 0, rgba(255, 255, 255, 0.75) -1.1em -1.1em 0 0, rgba(255, 255, 255, 0.75) 0 -1.5em 0 0, rgba(255, 255, 255, 0.75) 1.1em -1.1em 0 0; }

/* Animation */
@-webkit-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg); } }
@-moz-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg); } }
@-o-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg); } }
@keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg); } }
.tile, .pagination {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5); }

.intro {
  background: url("http://unep.or.kr/uploaded/fckeditor/04.JPG");
  background-size: cover;
  -moz-filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0'/></filter></svg>#grayscale");
  -o-filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0'/></filter></svg>#grayscale");
  -webkit-filter: grayscale(100%);
  filter: gray;
  filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0'/></filter></svg>#grayscale");
  color: white; }

.intro > .valign {
  background-color: rgba(0, 0, 0, 0.7);
  padding: 1rem;
  padding-top: 7rem;
  padding-bottom: 7rem; }

/*# sourceMappingURL=application.css.map */
